.search-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-field {
    width: 90%;
}

mat-form-field,
textarea {
    width: 100% !important;
}

#add-button{
    padding-top: -50px;
    margin-top: -20px;
  }

  #filter-field{
    margin-left: 10px;
  }

  #table-container{
    box-shadow: none !important;
  }
